div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}

img {
    flex: 1;
    margin: 10px;
    border: 2px solid black;
    height: 150px;
}
